# Java / Spring
target/
*.log
*.class

# IntelliJ
.idea/
*.iml

# Flutter / Dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Android
.gradle/
local.properties
.kotlin/

# MacOS
.DS_Store

# VSCode
.vscode/